@font-face {
    font-family: 'mythshire';
    src: url('assets/mythshireregular.woff2') format('woff2'),
         url('mythshireregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --light-shade: #F0E3D0;
  --light-accent: #B38FC2;
  --main-col: #3C3249;
  --dark-shade: #5A4236;
  --dark-accent: #8CA629;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: var(--light-shade);
  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;
  font-family: brioso-pro, serif;
  font-style: normal;
  color: var(--dark-shade);
  font-size: var(--font-size-base);
  font-weight: 300;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: var(--dark-shade);
}

h1 {
  font-size: var(--font-size-xxxl);
  font-family: 'mythshire', serif;
  font-weight: 400;
  text-align: center;
  margin: 1.5rem;
}
h2, h3 {
  font-weight: 500;
  margin: 0;
}
h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);

}

small {
  font-size: var(--font-size-sm);
}

b {
  font-weight: 600;
}

header {
  margin: 1.5em 0;
}

nav {
  display: none;
  background-color: var(--main-col);
}

nav ul {
  list-style-type: none;
  font-size: var(--font-size-md);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

nav ul a {
  color: var(--light-shade);
  padding: 3px 5px;
}

input.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

input.nav-toggle:checked ~ nav {
  display: block;
}

label.nav-toggle-label {
  display: block;
}

footer {
  text-align: center;
  margin: 1rem;
}

main {
  margin: 0 1.5rem;
}

/* Home Page Start */
.main-feat, .feat-1, .feat-2 {
  display: flex;
  flex-direction: column;
}

.feat-1 {
  flex-direction: column;
}

.card {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 60% 1fr;
  border: 2px var(--dark-shade) solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  min-width: 350px;
  max-height: 120px;
  margin: 0 auto 1.5rem;
}

.card img {
  max-height: 80px;
  margin-right: 1.3rem;
  grid-column: 1/1
}

.card div {
  grid-column: 2/3;

}

.card p, .card h3 {
  margin: 0.5rem 0 0.5rem 0;
}

.card span {
  text-align: right;
  grid-column: 3/3;
  margin-top: auto;
}

.big-card {
  display: block;
  border: 2px var(--dark-shade) solid;
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 300px;
  height: auto;
  margin: 0 auto 1.5rem;
}

.big-card h2 {
  text-align: center;
}
.big-card img {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

.big-card p {
  margin: 0.5rem 0 0 0;
}
/* Home Page End */

/* Recipe Page Start */

.recipes {
  min-width: 85vw;
  margin: auto;
}

.recipe-hero {
  display: flex;
  flex-direction: column;
}

.recipe-hero div {
  margin: 1rem 0;
}

.recipe-hero h1, .recipe-hero p {
  margin: 0;
}
.recipe-hero img {
  display: block;
  margin: auto;
  max-width: 300px;
}

.ingredients ul {
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1.5rem;
}

.ingredients li, .instructions li {
  padding-bottom: 0.35rem;
}

.ingredients li::before {
  content: "•";
  padding-right: 0.5rem;
}

.nutrition {
  border: 1.5px solid var(--dark-shade);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  font-weight: 300;
  text-align: left;
  padding: 0.35rem 0 0 0;
  border-top: 1px solid var(--dark-shade);
  white-space: nowrap;
}

td:last-child {
  text-align: right;
}

tr:last-child {
  border-bottom: 3px solid var(--dark-shade);
}

.table-head th, .table-head td {
  border-top: none;
}

.calories {
  border-top: 0;
  padding-top: 0.5rem;
}

.blank-cell {
  width: 1rem;
}

.thick-row {
  border-top: 3px solid var(--dark-shade);
}

.thick-end {
  border-bottom: 7px solid var(--dark-shade);
}

.dv {
  margin-top: 1rem;
  line-height: 0.95;
}

/* Recipe Page End */

/* Catalogue Page Start */
.full {
  margin: 0;
}

.full p {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.banner {
  display: block;
  margin: auto;
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  background-image: url("img/dessert-table.png");
  background-position: center;
  background-size: cover;
}

/* Catalogue Page End */
